{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="color:white">Portofolio</h1>
<img src = "https://drive.google.com/uc?id=0B_iqnlRYKdzVenplempYR2FhMFE" style="border-radius: 100%" width="150" height="150" alt=""/>

<hr/>
<section name="bio">
	<h2 style="color:white">Bio</h2>
		<p style="color:white">
			{{content}}
		</p>    
	</section>
	<hr/>
	<section name="about_me">
		<h2 style="color:white">List</h2>
		<ul style="color:white">
			{% for ii in about_me %}
			<li> {{ ii }} </li>
			{% endfor %}
		</ul>
	</section>
	<hr/>
	
	
<section name="form">
	<h2 style="color:white">Send Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="color:white">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>

    {% endblock %}

