<nav class="navbar navbar-default fixed-bottom">
    <div class="container">
        <div class="navbar-header">
                <p class="navbar-brand">&copy; {{author}}</p>
        </div>
    </div>
</nav>