{% extends "lab_8/layout/base.html" %}
{% block content %}

<br>
<br>
<br>
<div class='container' style="background-color:#c6c6c6">
    <button  id = 'fblogin' onclick="facebookLogin()">Login with Facebook</button>

<div id='ataslab8'></div>
<div id='lab8'></div>
</div>
{% endblock %}
