{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<div class="movie-title">
		<h1 style="text-align: center;">{{movie.title}}</h1>
	</div>

	<div class="movie-poster">
		    {% if movie.poster|stringformat:"s" == "b'N/A'" %}
        <img style="margin: 0px auto;display:block;" src="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF"/>
    {% else %}
        <img style="margin: 0px auto;display:block;" src="{{movie.poster}}"/>
    {% endif %}
	</div>

	<div class="movie-plot">
		<p style="text-align: center;">{{movie.plot}}</p>
	</div>

	<div class="details">
		<p>Title 		: {{movie.title}}</p>
		<p>Year  		: {{movie.year}}</p>
		<p>Rated 		: {{movie.rated}}</p>
		<p>Release Date : {{movie.released}}</p>
		<p>Duration		: {{movie.runtime}}</p>
		<p>Genre		: {{movie.genre}}</p>
		<p>Director		: {{movie.director}}</p>
		<p>Writer		: {{movie.writer}}</p>
		<p>Actors		: {{movie.actors}}</p>
		<p>Language		: {{movie.language}}</p>
		<p>Country		: {{movie.country}}</p>
		<p>Awards		: {{movie.awards}}</p>
		<!-- Ratings -->
		<p>Ratings :</p>
		{% for sc in movie.ratings %}
        	<p>{{sc.Source}}	: {{sc.Value}}</p>
        {% endfor %}
		<!--  -->
		<p>Metascore	: {{movie.metascore}}</p>
		<p>IMDb Rating	: {{movie.imdbrating}}</p>
		<p>IMDb Votes	: {{movie.imdbvotes}}</p>
		<p>DVD Release	: {{movie.dvd}}</p>
		<p>Box Office	: {{movie.boxoffice}}</p>
		<p>Production	: {{movie.production}}</p>
		{% if movie.website|stringformat:"s" == "b'N/A'" %}
            <p>Website		: N/A</p>
        {% else %}
            <p>Website   : </p><a href="{{movie.website}}">{{movie.website}}</a>
        {% endif %}

		
	</div>

    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>
</div>


{% endblock %}
