{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<h1 style="text-align: center;">WATCH LATER LIST</h1>
	<br>
	<br>
    {% for movie in watch_later_movies %}
    <p> {{ movie.title }}</p>
    <p> link : <a href='/lab-10/movie/detail/{{movie.imdbid}}'> Detail </a> </p>
    <br>
    {% endfor %}
</div>
{% endblock %}
